**Title:** Predict (past/retired) player earnings based on their historical performance compared to 2022-2023 season

**Introduction:**
The National Basketball Association (NBA) is a North American professional basketball league consisting of 2 conferences. Each conference has 3 divisions, and each division has 5 teams. The NBA is one of the major professional sports leagues in the United States and Canada. It is regarded as the highest level men's professional basketball tournament in the world. We are going to use a dataset from "basketball-reference.com", which provides precise statistics for all players. In this project, we are going to investigate the relationship between the players' salary and the following variables during the 2022-23 season: 
* Position = 
* Age = age pf players
* GP = number of games played
* GS = number of games started 
* Total Minutes = total minutes played
* PTS = points
* eFG% = effective field goal percentage
* TS% = true shooting percentage
* WS = win shares
* VORP = value over replacement player

**Preliminary exploratory data analysis:**

In [26]:
library(tidyverse)
library(repr)
library(tidymodels)
install.packages("kknn")
install.packages("gridExtra")
library(kknn)
library(gridExtra)
options(repr.matrix.max.rows = 6)
source("tests.R")
source('cleanup.R')

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [27]:
nba <- read_csv("nba_2022-23.csv") #read the dataset using a relative path
nba

New names:
• `` -> `...1`
Rows: 467 Columns: 52
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): Player Name, Position, Team
dbl (49): ...1, Salary, Age, GP, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    ...1 Player Name       Salary   Position Age Team    GP GS MP   FG   ⋯ TOV%
1   0    Stephen Curry     48070014 PG       34  GSW     56 56 34.7 10.0 ⋯ 12.5
2   1    John Wall         47345760 PG       32  LAC     34  3 22.2  4.1 ⋯ 17.1
3   2    Russell Westbrook 47080179 PG       34  LAL/LAC 73 24 29.1  5.9 ⋯ 18.4
⋮   ⋮    ⋮                 ⋮        ⋮        ⋮   ⋮       ⋮  ⋮  ⋮    ⋮    ⋱ ⋮
465 464  Gabe York         32171    SG       29  IND     3  0  18.7 2.7  ⋯  0.0
466 465  RaiQuan Gray       5849    PF       23  BRK     1  0  35.0 6.0  ⋯ 23.7
467 466  Jacob Gilyard      5849    PG       24  MEM     1  0  41.0 1.0  ⋯ 40.0
    USG% OWS  DWS WS  WS/48 OBPM DBPM BPM  VORP
1   31.0  5.8 2.0 7.8 0.192  7.5  0.1  7.5 4.7
2   27.0 -0.4 0.7 0.3 0.020 -0.8 -0.4 -1.2 0.1
3   27.7 -0.6 2.6 1.9 0.044  0.3 -0.1  0.2 1.2
⋮   ⋮    ⋮    ⋮   ⋮   ⋮     ⋮    ⋮    ⋮    ⋮
465 16.4 0.1  0.0 0.1 0.091 -1.7 -1.8 -3.5 0
466 21.4 0.0  0.0 0.1 0.106 -0.6 -1.4 -2.0 0
467  5.1 0.0  0.1 0.1 0.079 -7.8  1.7 -6.1 0

In [28]:
#Since the data has large number of variables, we selected variabels which might be useful for the analysis 
#to simplify our data.
nba_selected <- nba |>
select("Player Name", Salary, Position, Age, GP, GS, "Total Minutes", PTS, "eFG%", "TS%", WS, VORP) |>
rename(total_minutes = "Total Minutes") |>
rename(TSP = "TS%") |>
rename(eFGP = "eFG%")
nba_selected

    Player Name       Salary   Position Age GP GS total_minutes PTS  eFGP
1   Stephen Curry     48070014 PG       34  56 56 1941          29.4 0.614
2   John Wall         47345760 PG       32  34  3  755          11.4 0.457
3   Russell Westbrook 47080179 PG       34  73 24 2126          15.9 0.481
⋮   ⋮                 ⋮        ⋮        ⋮   ⋮  ⋮  ⋮             ⋮    ⋮
465 Gabe York         32171    SG       29  3  0  56             8   0.524
466 RaiQuan Gray       5849    PF       23  1  0  35            16   0.583
467 Jacob Gilyard      5849    PG       24  1  0  41             3   0.500
    TSP   WS  VORP
1   0.656 7.8 4.7
2   0.498 0.3 0.1
3   0.513 1.9 1.2
⋮   ⋮     ⋮   ⋮
465 0.548 0.1 0
466 0.621 0.1 0
467 0.500 0.1 0

We filtered out players with less than 20 number of games played as we believe it will be biased to include players who played less than 1/4 of the season. Less number of games played might be lack of talent or injury. Similarly, we filtered out players with less than 500 minutes of playing time due to similar reasoning. 
We wanted to elminate the possibility of injured players affecting our result. We also eliminate age under 20 since we believe younger players get payed little whether if they are good.

In [29]:
nba_filtered <- nba_selected |>
filter(GP > 20, 
       Age > 20, 
       total_minutes > 500) # 82 games in a season * 1/4 * 48 mins a game * 1/2 = 492
nba_filtered

    Player Name       Salary   Position Age GP GS total_minutes PTS  eFGP
1   Stephen Curry     48070014 PG       34  56 56 1941          29.4 0.614
2   John Wall         47345760 PG       32  34  3  755          11.4 0.457
3   Russell Westbrook 47080179 PG       34  73 24 2126          15.9 0.481
⋮   ⋮                 ⋮        ⋮        ⋮   ⋮  ⋮  ⋮             ⋮    ⋮
297 Eugene Omoruyi    1013119  SF       25  40 6   645           7.0 0.498
298 Kris Dunn         1000001  PG       28  22 3   568          13.2 0.576
299 Anthony Lamb       694878  SF       25  62 4  1195           6.7 0.588
    TSP   WS  VORP
1   0.656 7.8 4.7
2   0.498 0.3 0.1
3   0.513 1.9 1.2
⋮   ⋮     ⋮   ⋮
297 0.533 0.6 -0.4
298 0.606 1.9  0.6
299 0.610 2.4  0.3

In [45]:
nba_filtered2 <- nba_filtered |>
select(Salary, Age, GP, TSP, total_minutes) #select variables we're going to look at
nba_filtered2

    Salary   Age GP TSP   total_minutes
1   48070014 34  56 0.656 1941
2   47345760 32  34 0.498  755
3   47080179 34  73 0.513 2126
⋮   ⋮        ⋮   ⋮  ⋮     ⋮
297 1013119  25  40 0.533  645
298 1000001  28  22 0.606  568
299  694878  25  62 0.610 1195

In [46]:
set.seed(1)
nba_split <- initial_split(nba_filtered2, prop = 0.6, strata = Salary)
nba_training <- training(nba_split) #training data
nba_testing <- testing(nba_split) #testing data

In [47]:
nba_recipe <- recipe(Salary ~., data = nba_training) #create recipe to preprocess data

nba_spec <- linear_reg()|> #model specification
set_engine("lm") |>
set_mode("regression")

In [49]:
nba_fit <- workflow() |> #build the workflow and fit the model
add_recipe(nba_recipe) |>
add_model(nba_spec) |>
fit(data = nba_training)

nba_fit

══ Workflow [trained] ══════════════════════════════════════════════════════════
Preprocessor: Recipe
Model: linear_reg()

── Preprocessor ────────────────────────────────────────────────────────────────
0 Recipe Steps

── Model ───────────────────────────────────────────────────────────────────────

Call:
stats::lm(formula = ..y ~ ., data = data)

Coefficients:
  (Intercept)            Age             GP            TSP  total_minutes
    -17031871        1014234        -518273       15675056          16412

In [52]:
nba_test_results <- nba_fit |> 
  predict(nba_testing) |> # make predictions on the test data set
  bind_cols(nba_testing) |>
  metrics(truth = Salary, estimate = .pred)
nba_test_results

  .metric .estimator .estimate
1 rmse    standard   7.111306e+06
2 rsq     standard   5.844658e-01
3 mae     standard   5.736730e+06

In [ ]:
summarize(nba_filtered,
          "Number of observations" = nrow(nba_filtered),
          "Rows with missing data" = sum(is.na(nba_filtered)))

results_salary <- nba_filtered |>
    summarize(variable = "Salary", max = max(Salary),min = min(Salary),mean = formatC(mean(Salary),digits=8)) 
results_age <- nba_filtered |>
    summarize(variable = "Age", max = max(Age),min = min(Age),mean = formatC(mean(`Age`),digits=4) )
results_GP <- nba_filtered |>
    summarize(variable = "GP", max = max(GP),min = min(GP),mean = formatC(mean(`GP`),digits=4)) 
results_mins <- nba_filtered |>
    summarize(variable = "Mins", max = max(total_minutes),min = min(total_minutes),mean = formatC(mean(total_minutes),digits=4)) 
results_TSP <- nba_filtered |>
    summarize(variable = "TSP", max = max(TSP),min = min(TSP),mean = formatC(mean(`TSP`),digits=4)) 

Summary_results <- rbind(results_salary,results_age,results_GP,results_mins,results_TSP)
Summary_results

In [ ]:
nba_salary_hist<- ggplot(nba_filtered, aes(x=Salary))+
                geom_histogram()+
                labs(x="Salary", title = "Distribution of Salary")+
                geom_vline(xintercept = 10021090, linetype = "dashed", linewidth = 1)

nba_salary_age_plot <- ggplot(nba_filtered, aes(x=Age, y=Salary))+
                        geom_point()+
                        labs(x="Age of players",y="Salary in USD",title="Plot for Age and Salary of NBA players")
    
 
nba_salary_GP_plot <- ggplot(nba_filtered, aes(x=GP, y=Salary))+
                        geom_point()+
                        labs(x="Games played",y="Salary in USD",title="Plot for number of games played and Salary of NBA players")

nba_salary_TSP_plot <- ggplot(nba_filtered, aes(x=TSP, y=Salary))+
                        geom_point()+
                        labs(x="True Shooting Percent",y="Salary in USD",title="TS% vs Salary for NBA players")

nba_salary_hist
nba_salary_age_plot
nba_salary_GP_plot
nba_salary_TSP_plot

#Histogram to visualize the distrbution of salary for nba players in 2022/23 season
#Added a vline at where the mean salary lies

#Scatterplot is to show the correlation between age and salary

**Methods:**
In the 2022-2023 season dataset, the following variables will be selected: 

    -Age: Often indicates a player's experience and professional maturity 

    -Games Played: Evidences a player's reliability 

    -Total Minutes Played: Indicates a player's significance to the team 

    -True Shooting Percent: Measures a player's ability to score efficiently 

The selection of these variables rests on the hypothesis that they determine a player's worth and, consequently, their salary. Observations with missing data will be removed. 

Scatterplots will illustrate the relationship between each variable and the player's salary, aiding in the visualization of potential correlations. If any variable shows weak correlation, it will be replaced. The main modeling technique will be multiple regression, with cross-validation ensuring model robustness. Finally, this model will aid in estimating a retired player's current earnings based on their past performances.

**Expected Outcomes:**

Our model aims to find the expected salary of a past NBA player if they were to play in 2023. We expect all four variables listed in our methods section to correlate positively with salary by assuming that higher skill equates to higher salary. The only non-skill variable is age, which we expect to positively correlate since older players are more experienced. However, we expect there to be a peak earning age, athleticism often decreases with age. 

Considering these variables, we expect that the past NBA player would be paid less in 2023 than the current NBA players. This is due to the general increase in skill across all competitive sports over time; the longer a sport is played, the better the skills it requires are understood.  

**Impact:**
The findings of this data model would be significant to the training of professional basketball players. Coaches are able to analyze changes in each variable to determine whether there has been positive improvement in the sport and can apply the relevant changes to their training methods.  

**Future questions:**
Does the team the player is on have an impact on their salary?  
Do certain training methods yield higher salaries on average? 
How significant is the impact of player injuries on salary?